@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@font-face {
  font-family: "BalooThambi2";
  src: url("/assets/fonts/BalooThambi2.ttf") format("truetype");
  font-weight: 400 600 700 800 900;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("/assets/fonts/inter.ttf") format("truetype");
  font-weight: 400 600 700 800 900;
  font-style: normal;
}
@font-face {
  font-family: "cairo";
  src: url("/assets/fonts/cairo.ttf") format("truetype");
  font-weight: 400 600 700 800 900;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src: url("/assets/fonts/rubik.ttf") format("truetype");
  font-weight: 400 600 700 800 900;
  font-style: normal;
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f3f3f4;
  --foreground: #242424;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: #000000;
  --primary: #ff4100;
  --primary-foreground: #f3f3f4;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: #d3d3d3;
  --muted-foreground: #000000;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #242424;
  --border-input: #d9d9d9;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.25rem;
}

.dark {
  --background: #232424;
  --foreground: #f3f3f4;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #ff4100;
  --primary-foreground: #d3d3d3;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: #d3d3d3;
  --muted: #d3d3d3;
  --muted-foreground: #ffffff;
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #d3d3d3;
  --border-input: #d9d9d9;
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@theme inline {
  --font-baloothambi2: "BalooThambi2", sans-serif;
  --font-inter: "inter", sans-serif;
  --font-cairo: "cairo", sans-serif;
  --font-rubik: "rubik", sans-serif;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --radius-5xl: calc(var(--radius) * 3);
  --radius-6xl: calc(var(--radius) * 3.4);
  --radius-7xl: calc(var(--radius) * 3.8);
  --radius-8xl: calc(var(--radius) * 4.2);
  --radius-9xl: calc(var(--radius) * 4.6);
  --radius-10xl: calc(var(--radius) * 5);
  --border-input: var(--border-input);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-baloothambi2 no-scrollbar;
  }
  button {
    @apply cursor-pointer;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
